.kmom-frame {
    display: flex;
    width: 100%;
}

.kmom-links,
.kmom-content {
    padding: 1em;
}

.kmom-content {
    width: 100%;
}

.kmom-links {
    font-size: $font-size * 0.6;
    border-right: solid 1px rgba($color: $link-colour, $alpha: 0.4);
    min-width: 120px;
}

.kmom-links a,
.kmom-links a:visited,
.kmom-content p a,
.kmom-content p a:visited {
    color: $link-colour;
}

.analysis-table td {
    border: 2px solid $link-colour;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    
    iframe,
    object,
    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 767px) {
    .kmom-links {
        display: none;
    }
}
