.kmom-frame {
    display: flex;
}

.kmom-links,
.kmom-content {
    padding: 1em;
}

.kmom-links {
    font-size: $font-size * 0.6;
    border-right: solid 1px rgba($color: $link-colour, $alpha: 0.4);
}

.kmom-links a,
.kmom-links a:visited {
    color: $link-colour;
}
