@media (max-width: 767px) {
    .main {
        width: 80%;
    }

    .hero-image {
        height: initial;
    }

    .site-header { 
        height: 100%;
    }

    .social {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

@media(min-width: 767px) {
    .main {
        width: 70%;
    }
}
