@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto&display=swap');

html {
    font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fira Code', monospace;
    line-height: $line;
    margin-bottom: $magic-number;
    color: $header-text-colour;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: $font-size * 0.75;
    line-height: $line;
    margin-bottom: $magic-number;
    color: $body-text-colour;
}

.site-footer p {
    font-size: $font-size * 0.7;
}
